# Custom shell alias

# Change directory to home subdirectory
alias cdl='cd ~/Downloads'
alias cdd='cd ~/Documents'
alias cdi="cd ~/Images"

# Create working directory
# use 'createWorkingSpace' from functions file.
alias cdw='createWorkingSpace'

# Send HTTP curl with JSON content type
alias jcurl='curl -s -H "Content-Type: application/json"'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Get current day
alias today='date +%F" "%X'

# Get current week
alias week='date +%V'

# Show IP addresses
alias pubip='dig +short myip.opendns.com @resolver1.opendns.com'

#
# Linter
#
# Shell linter
alias scheck='shellcheck -x'
