# Custom shell alias

# Change directory to home subdirectory
alias cdl='cd ~/Downloads'
alias cdd='cd ~/Documents'
alias cdi="cd ~/Images"

# Reload zsh configuration file
alias zsh-reload='source ~/.zshrc'

# Get current day
alias today='date +%F" "%X'

# Get current week
alias week='date +%V'

# Edit /etc/hosts file
alias hosts="sudo vim /etc/hosts"

#
# Database client
#
# Overload db client to redirect console
# to file.
alias psql='dbClientTrace psql'
alias mysql='dbClientTrace mysql'
