# Custom shell alias

# Change directory to home subdirectory
alias cdl='cd ~/Downloads'
alias cdd='cd ~/Documents'
alias cdi="cd ~/Images"

# Create working directory
# use 'createWorkingSpace' from functions file.
alias cdw='createWorkingSpace'

# Send HTTP curl with JSON content type
alias jcurl='curl -s -H "Content-Type: application/json"'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Get current day
alias today='date +%F" "%X'

# Get current week
alias week='date +%V'

# Edit /etc/hosts file
alias hosts="sudo vim /etc/hosts"

# Show IP addresses
alias pubip='dig +short myip.opendns.com @resolver1.opendns.com'
alias privip="ip -j -br -4 addr list | jq -r '.[] | select(.operstate==\"UP\") | .addr_info[].local'"

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/keys.d/id_ecdsa.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

# Pipe my private key to my clipboard.
alias prikey="more ~/.ssh/keys.d/id_ecdsa | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"

#
# Linter
#
# Shell linter
alias scheck='shellcheck -x'
