# Generate gitignore
# source: https://docs.gitignore.io/install/command-line
function gi() { curl -sLw n https://www.toptal.com/developers/gitignore/api/$@ ;}

# Create daily working directory.
function createWorkingSpace() {
	local WORKSPACE="${HOME}/workspaces/$(date +%F)"
	[[ ! -d "${WORKSPACE}" ]] && mkdir -p "${WORKSPACE}"
	cd "${WORKSPACE}"
}

# Encode string in base64
function b64encode(){
    local string="${1}"
    echo -n "${string}" | base64
}

# Decode base64 to string
function b64decode(){
    local b64encoded="${1}"
    echo -n "${b64encoded}" | base64 -d
}

# Check if json is valid
function jsonIsValide(){
    if jq -e . >/dev/null 2>&1 <<<"${1}";
    then
        echo "JSON is valid"
    else
        echo "JSON not valid"
        jq -e . >/dev/null <<<"${1}"
    fi
}

# Run db client like psql or mysql  and store
# console output to log file.
function dbClientTrace(){
  # Get db client tool name
  local DB_CLIENT_TOOL_NAME="${1}"
  shift

  # Get username and database name
  # from command arguments
  POSITIONAL_ARGS=()

  while [[ $# -gt 0 ]]; do
    case $1 in
      -U|-u)
        DB_USERNAME="$2"
        shift
        shift
        ;;
      -d|-D)
        DB_NAME="$2"
        shift
        shift
        ;;
      *)
        POSITIONAL_ARGS+=("$1")
        shift
        ;;
    esac
  done

  set -- "${POSITIONAL_ARGS[@]}"

  # Create path to log file
  local DB_CLIENT_LOG_FILE="$(printf "%s/%s-%s-%s-%d.log" "/var/log/db_client" ${DB_CLIENT_TOOL_NAME} ${DB_USERNAME} ${DB_NAME} $(date +%s))"

  # Build client cmd
  if [[ ${DB_CLIENT_TOOL_NAME} == "mysql" ]];
  then
    \mysql $@ -u "${DB_USERNAME}" -D "${DB_NAME}" --tee="${DB_CLIENT_LOG_FILE}"
  elif [[ ${DB_CLIENT_TOOL_NAME} == "psql" ]];
  then
    \psql $@ -U "${DB_USERNAME}" -d "${DB_NAME}" -L "${DB_CLIENT_LOG_FILE}"
  else
    echo -e "${DB_CLIENT_TOOL_NAME} not manage"
  fi
}

