# Generate gitignore
# source: https://docs.gitignore.io/install/command-line
function gi() { curl -sLw n https://www.toptal.com/developers/gitignore/api/$@ ;}

# Create daily working directory.
function createWorkingSpace() {
	local WORKSPACE="${HOME}/workspaces/$(date +%F)"
	[[ ! -d "${WORKSPACE}" ]] && mkdir -p "${WORKSPACE}"
	cd "${WORKSPACE}"
}

# Encode string in base64
function b64encode(){
    local string="${1}"
    echo -n "${string}" | base64
}

# Decode base64 to string
function b64decode(){
    local b64encoded="${1}"
    echo -n "${b64encoded}" | base64 -d
}

# Check if json is valid
function jsonIsValide(){
    if jq -e . >/dev/null 2>&1 <<<"${1}";
    then
        echo "JSON is valid"
    else
        echo "JSON not valid"
        jq -e . >/dev/null <<<"${1}"
    fi
}
